* {
  margin: 0px;
  padding: 0px;
  font-family: Inter, Helvetica, sans-serif;
  color: #fff;
}

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/fortaleza.png");
}

ul { list-style-type: disc; }
ol { list-style-type: disc; }
li { list-style-type: disc; }

.secao-lista {
  display: flex;
  align-items: flex-start;
  
}

.secao-foto {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 30px;
}

.lista li {
  list-style: disc;
  margin: 2px;
}

.lista {
  display: flex;
  flex-direction: column;
  text-align: left;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}

table tr {
  text-align: center;
}

table td {
  padding: 4px;
}

table {
  width: 100%;
}

.secao-tabela {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}